<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Midvatten plugin for QGIS</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<img src="midvatten_logga.png" />
<h3>Midvatten plugin for QGIS</h3>
VERSIONCHANGETHIS
<br>Author: AUTHORCHANGETHIS  (EMAILCHANGETHIS)
<p>A toolset for managing and working with hydrogeological observational data. Distributed under the terms of the GNU GPL License v2.</p>
<br>More info: <a href="HOMEPAGECHANGETHIS">HOMEPAGECHANGETHIS</a>
</body>
</html>


